---
import Layout from '../layouts/Layout.astro';
import  contactIcon from "../assets/icons/icons8-mail-50.png"
import  gitIcon from "../assets/icons/icons8-git-50.png"
import  linkedinIcon from "../assets/icons/icons8-linkedin-50.png"

title: "Juan Manuel Sanjurjo"
description: "Portfolio of Juan Manuel Sanjurjo"

import {about, skills, softskills, languages, certificates, experience, education} from "../data/data.json"

const date = new Date().getFullYear()
---

<Layout title="Hi, i'm Juan Manuel">
	<main >
        <section class="hero index-section">
            <div class="container" >
                <h1 class="">Hi, I'm</h1>
                <h1 class="">JUAN MANUEL</h1>
                <h1 class="">SANJURJO</h1>
                <h3>Software developer</h3>
            </div>
        </section>
        
        <div class="section-divisor"></div>
        
        <section class="index-section"  id="about">
            <div class="container">
                <h2>{about.profile}</h2>
                <hr>
                <p>{about.content[0]}</p>
                <br>
                <p>{about.content[1]}</p>
            </div>
        </section>
        
    <div class="section-divisor reverse"></div>

        <section  class="index-section" id="experience">
            <div class="container">
                <h2>EXPERIENCE <span>2021 - present</span></h2>
                <hr>
                <h5> <i class="i-projects">Live demos and other projects on <a style="text-decoration: underline" target="_blank" href="https://github.com/JuanManuelSanjurjo">Github</a></i> </h5>
                <div class="experience-container">
                    { experience.map(({name, url, description, live}) => (
                        <div>
                            <h3> <a class="link" href={url} target="_blank">{name} <span class="hidden-link">&#8594; visit github repo and live page</span></a></h3>
                            <p>{description}</p>
                            {
            ["Pokedex","Youtube clone", "Simulation (No Country) - App RecetApp" ].includes(name) &&
                                <iframe title={name} src={live} ></iframe>
                            }
                        </div>
                    ))
                    }
                </div>
            </div>
        </section>

    <div class="section-divisor"></div>
        
        <section class="index-section"  id="education">
            <div class="container">
                <h2>EDUCATION & CERTIFICATES</h2>
                <hr>
                {
                    education.map( item => (
                        <div>
                            <h4>{item.title}</h4>
                            <a class="link" href={item.url} target="_blank">{item.description}</a>
                        </div>
                    ))
                }
            </div>
            <div class="container">
                <h2>Certificates</h2>
                <ul class="certificates">
                    {certificates.map( certificate => (
                        <li><a class="link" href={certificate.url} target="_blank">{certificate.title}</a></li>
                        )   
                    )}
                </ul>
            </div>
            <div class="container">
                <h2>LANGUAJES</h2> 
                <hr>
                <h3>{languages[0].name} <span>- {languages[0].level}</span></h3>
                <h3>{languages[1].name} <span>- <a class="link" href={languages[1].url} target="_blank">{languages[1].level}</a></span></h3>
            </div>

            <div class="container">
                <h2>COMPETENCES</h2>
                <hr>
                <div class="skills">
                  {skills.map( skill => (
                  <div>{
                    skill.includes("SQL") ?
                    <img src=`https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg` />
                    :
                            skill.includes("UX/UI") ?
                    <img src=`https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/devicon/devicon-original.svg` />
                    :
                    <img src=`https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/${skill.toLowerCase()}/${skill.toLowerCase()}-original.svg` />
                    }
                    {skill}
                  </div>
                    ))}
                </div>
            </div>
            
            <div class="container">
                <h2>SOFT SKILLS</h2>
                <hr>
                <div class="skills">
                    {softskills.map( skill => (
                            <div>{skill}</div>
                        )   
                    )}
                </div>
            </div>
            
        </section>
        
        

        
        <div class="section-divisor reverse"></div>
        
        <section class="index-section"  id="contact">
            <h2>CONTACT</h2>
            <form action="https://formsubmit.co/5eb3994d821f99bcef677654cd530589" method="POST">
                <input type="hidden" name="_next" value="https://juanmanuelsanjurjo.github.io/web-portfolio/pages/thanks.html">
                <label for="email"></label>Email
                <input name="email" id="email" placeholder="Email" type="email" required>
                <label for="subject"></label>Subject
                <input name="subject" id="subject" placeholder="Subject" type="text" required>
                <label for="content"></label>Content
                <textarea name="content" placeholder="Write your message" id="content" cols="30" rows="10" required></textarea>
                <button id="submitBtn" class="submitbtn" type="submit">Send</button>
           </form>
            
        </section>

        <footer>
            <h4>Built with Astro - Juan Manuel Sanjurjo {date} </h4>
            <a href="mailto:juanmanuelsanjurjo@gmail.com?subject=curriculum contact"> <img class="contact-icon" src={contactIcon.src} alt="mail"></a>
            <a href="https://www.linkedin.com/in/juanmanuelsanjurjo/" target="_blank"><img class="contact-icon" src={linkedinIcon.src} alt="linkedin"></a>
            <a class="icons-link" href="https://github.com/JuanManuelSanjurjo" target="_blank"> <img class="contact-icon" src={gitIcon.src} alt="git"></a>
        </footer>
    </main>
	
</Layout>

<script  >
	import { observer} from "../scripts/observer.js"
	import { mailing } from "../scripts/mailing.js"

	document.addEventListener("astro:page-load", () => {
		observer()
		mailing()

        // TODO PONER POPUP A LA LLEGADA A LA PAGINA PARA INDICAR EL ATAJO PARA LA TERMINAL
        // TODO ERRORES DE TRANSITION SKIPPED EN EL LAYOUT
        // TODO arreglar que en movil, con el teclado, al usar el menu, no se navega hasta donde se prentede. 
        // poner un if en el focus para impedir el foco cuando  se este usando el menu
	})
</script>




