---
import Layout from '../layouts/Layout.astro';
import About from "../components/sections/About.astro"
import Hero from "../components/sections/Hero.astro"
import Experience from "../components/sections/Experience.astro"
import Education from "../components/sections/Education.astro"
import Footer from "../components/sections/Footer.astro"
import Contact  from "../components/sections/Contact.astro"
import Tooltip from "../components/Tooltip.astro"

title: "Juan Manuel Sanjurjo" 
description: "Portfolio of Juan Manuel Sanjurjo"

import {about, skills, softskills, languages, certificates, experience, education} from "../data/data.json"

---

<Layout title="Hi, i'm Juan Manuel">
	<main >
    <Tooltip />
    <Hero />
    <div class="section-divisor"></div>
    <About about={about} />
    <div class="section-divisor reverse"></div>
    <Experience experience={experience} />
    <div class="section-divisor"></div>
    <Education education={education} experience={experience} languages={languages} certificates={certificates} softskills={softskills} skills={skills} />
    <div class="section-divisor reverse"></div>
    <Contact />
    <Footer />
  </main>
	
</Layout>

<script  >
	import { observer} from "../scripts/observer.js"
	import { mailing } from "../scripts/mailing.js"

	document.addEventListener("astro:page-load", () => {
		observer()
		mailing()
	})
</script>




