---
import "../styles/cv-style.css"
import Layout from "../layouts/Layout.astro"
import  profilePic from "../assets/fotoperfilchica.webp"
import  phoneIcon from "../assets/icons/icons8-phone-50.png"
import  contactIcon from "../assets/icons/icons8-mail-50.png"
import  gitIcon from "../assets/icons/icons8-git-50.png"
import  linkedinIcon from "../assets/icons/icons8-linkedin-50.png"
import  locationIcon from "../assets/icons/icons8-location-50.png"
import  graduateIcon from "../assets/icons/icons8-graduate-30.png"
import  lnguajeIcon from "../assets/icons/icons8-language-80.png"
import  certificateIcon from "../assets/icons/icons8-certificate-64.png"
import  competencesIcon from "../assets/icons/toolbox-solid.svg"
import  skillsIcon from "../assets/icons/puzzle-piece-solid.svg"
import { data } from "../data/content.js"

const {about, skills, softskills, languages, certificates, experience, education} = data


---


<Layout title="Curriculum" >
    
<div id="section-floating-title" transition:animate="slide" >Curriculum</div>

  <a href="/Juan_Manuel_Sanjurjo_EN.pdf" id="button" download>
    <button class="btn">Download</button>
  </a>

<div class="cv-container">
        
    <main  class="curriculum"  >
        <section class="side-section" >
            <div class="portrait-container">
                <img  class="portrait" src={profilePic.src} alt="profile-pic" />
            </div>

            <div class="side-content-container" transition:animate="slide">
                <div class="sidebar-sub-container">
                    <h2>CONTACT</h2>
                    <div class="contact-item">
                        <img class="contact-icon" src={phoneIcon.src} alt="phone">
                        <p>+54 2235513874</p>
                    </div>
                    <div class="contact-item">
                        <img class="contact-icon" src={contactIcon.src} alt="mail">
                        <a href="mailto:juanmanuelsanjurjo@gmail.com?subject=curriculum contact">juanmanuelsanjurjo@gmail.com</a>
                    </div>
                    <div class="contact-item">
                        <img class="contact-icon" src={linkedinIcon.src} alt="linkedin">
                        <a href="https://www.linkedin.com/in/juanmanuelsanjurjo/" target="_blank">linkedin.com/in/juanmanuelsanjurjo</a>
                    </div>
                    <div class="contact-item">
                        <img class="contact-icon" src={gitIcon.src} alt="git">
                        <a href="https://github.com/JuanManuelSanjurjo" target="_blank">github.com/JuanManuelSanjurjo</a>
                    </div>
                    <div class="contact-item">
                        <img class="contact-icon" src={locationIcon.src} alt="location">
                        <p>Mar del Plata, Argentina</p>
                    </div>
                </div>

                <div class="sidebar-sub-container">
                    <div class="sidebar-title">
                        <img src={graduateIcon.src} alt="graduate">
                        <h2>EDUCATION</h2>
                    </div>
                    {
                    education.map( item => (
                        <div class="education-content">
                            <h4>{item.title}</h4>
                            <a href={item.url} target="_blank">{item.description}</a>
                        </div>
                    ))
                    }
                </div>

                <div class="sidebar-sub-container">
                    <div class="sidebar-title">
                        <img src={certificateIcon.src} alt="certificate">
                        <h2>CERTIFICATES</h2>
                    </div>
                        <ul class="certificate-content">
                            {certificates.map( certificate => (
                                <li><a  href={certificate.url} target="_blank">{certificate.title}</a></li>
                                )   
                            )}
                        </ul>
                </div>

                <div class="sidebar-sub-container">
                    <div class="sidebar-title">
                        <img src={lnguajeIcon.src} alt="language">
                        <h2>LANGUAGES</h2>
                    </div>
                    <div class="languajes-content">
                        <h3>{languages[0].name} <span>- {languages[0].level}</span></h3>
                        <h3>{languages[1].name} <span>- <a href={languages[1].url} target="_blank">{languages[1].level}</a></span></h3>
                    </div>
                </div>

            </div>
        </section>
        
        <section class="main-section" >
            <div class="titles" transition:animate="slide" >
                <h1 class="name">JUAN MANUEL</h1>
                <h1 class="surname">SANJURJO</h1>
                <h3>Software developer</h3>
            </div>

            <div class="section-title">
                <h2>{about.profile.toUpperCase()}</h2>
                <hr>
          <p>{about.content}</p>
            </div>

            <div class="section-title">
                <h2>EXPERIENCE <span>2021 - Present</span></h2>
                <hr>
                <h3> <i class="i-projects">Projects - live demos, frontend implementations and other projects on github page</i> </h3>
                <div class="cv-experience-container">

            { experience.map(({title, employer, location, summary, responsabilities, achievments}) => (
                        <div>
                            <h3> {title} </h3>
                            <h5 style={{paddingBlock : "10px"}}> {employer} - {location} </h5>
                            <p> {summary} </p>
                            <h4 style={{paddingBlock : "15px"}} > Key responsibilities </h4>
                            <ul style={{paddingLeft : "20px"}}>
    {responsabilities.map((resp, i) => (<li style={{listStyle: "circle"}}><p>{resp}</p></li>))}
                            </ul>
                            <h4 style={{paddingBlock : "15px"}}> Achievments </h4>
                            <ul style={{paddingLeft : "20px"}}>
    {achievments.map((resp, i) => (<li style={{listStyle: "circle"}}><p>{resp}</p></li>))}
                            </div>
                        </div>
                    ))
                    }                   
                </div>
            </div>

            <div class="section-title">
                
                <h2><img src={competencesIcon.src} alt="competences"/> COMPETENCES</h2>
                <hr>
                <div class="cv-skills">
                    {skills.map( skill => (
                        <div>{skill.name}</div>
                    )   
                )}
                </div>
            </div>

            <div class="section-title">
                <h2> <img src={skillsIcon.src} alt="skills"/>SOFT SKILLS</h2>
                <hr>
                <div class="cv-skills">
                    {softskills.map( skill => (
                        <div>{skill}</div>
                    )   
                )}
                </div>
            </div>

        </section>


    </main>
</div>    


</Layout>



<script>
    // import { downloadCv } from "../scripts/downloadCv.js"

    // document.addEventListener("astro:page-load", () => {
    //     downloadCv()
    // })

</script>
